{
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "es5",
    "printWidth": 100,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "objectWrap": "preserve",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^next-(.*)$",
        "^next/(.*)$",
        "^@/lib/backend/client",
        "^@/lib/(.*)$",
        "^@/components/ui/(.*)$",
        "^lucide-react$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
